name: DotNet Build
on:
  push:
    branches:
      - development
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build Release
    runs-on: windows-latest
    env:
      IS_DEV: ${{ github.ref == 'refs/heads/development' }}
      IS_MASTER: ${{ github.ref == 'refs/heads/master' }}
      MSI_NAME: TitanPlanner.msi
      ZIP_NAME: TitanPlanner.zip

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 10

      - name: Build
        shell: pwsh
        run: |
          $msbuildPath = Split-Path (& "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -requires Microsoft.Component.MSBuild -find MSBuild\Current\Bin\amd64\MSBuild.exe | Select-Object -First 1) -Parent
          $env:PATH = $msbuildPath + ';' + $env:PATH
          nuget locals all -clear
          msbuild -v:m -restore -t:Build -p:Configuration=Release MissionPlanner.sln

      - name: Cleanup
        shell: pwsh
        run: |
          cd bin\Release\net461
          gci plugins | ForEach-Object { if (Test-Path $_.Name -PathType Leaf) { Write-Host "Remove" $_.FullName ; Remove-Item $_.FullName } else { Write-Host $_.Name } }
          copy version.txt ..\..\..\
          7z a -tzip ..\..\..\${{ env.ZIP_NAME }} *
          cd ..
          .\md5sum.exe net461 > ..\..\checksums.txt

      - name: Create MSI
        shell: pwsh
        run: |
          cd Msi
          if (Test-Path installer.wxs) { Remove-Item installer.wxs }
          & ".\net472\wix.exe" "..\bin\Release\net461"
          & "$env:WIX\bin\candle.exe" installer.wxs -ext WiXNetFxExtension -ext WixDifxAppExtension -ext WixUIExtension.dll -ext WixUtilExtension -ext WixIisExtension
          & "$env:WIX\bin\light.exe" installer.wixobj "$env:WIX\bin\difxapp_x86.wixlib" -sval -o ${{ env.MSI_NAME }} -ext WiXNetFxExtension -ext WixDifxAppExtension -ext WixUIExtension.dll -ext WixUtilExtension -ext WixIisExtension
          Move-Item ${{ env.MSI_NAME }} ..\${{ env.MSI_NAME }}

      - uses: actions/upload-artifact@v4
        with:
          name: MissionPlannerBeta
          path: bin\Release\net461

      - uses: actions/upload-artifact@v4
        with:
          name: MSI
          path: ${{ env.MSI_NAME }}

      - name: Get version from version.txt
        id: version
        if: ${{ env.IS_MASTER == 'true' }}
        shell: pwsh
        run: |
          $version = Get-Content "version.txt" -Raw
          $version = $version.Trim()
          echo "VERSION=$version" >> $env:GITHUB_OUTPUT
          echo "Found version: $version"

      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        if: ${{ env.IS_DEV == 'true' }}
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "development-build"
          prerelease: true
          title: "Development Build"
          files: |
            ${{ env.ZIP_NAME }}
            ${{ env.MSI_NAME }}
            checksums.txt
            version.txt
            ChangeLog.txt

      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        if: ${{ env.IS_MASTER == 'true' }}
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "TitanPlanner-${{ steps.version.outputs.VERSION }}"
          prerelease: false
          title: "TitanPlanner ${{ steps.version.outputs.VERSION }}"
          files: |
            ${{ env.ZIP_NAME }}
            ${{ env.MSI_NAME }}
            checksums.txt
            version.txt
            ChangeLog.txt

  buildDebug:
    name: Build Debug
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 10

      - name: Cache multiple paths
        uses: actions/cache@v4
        with:
          path: |
            **/obj/**
          key: ${{ runner.os }}-buildDebug

      - name: Build
        shell: pwsh
        run: |
          $msbuildPath = Split-Path (& "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -requires Microsoft.Component.MSBuild -find MSBuild\Current\Bin\amd64\MSBuild.exe | Select-Object -First 1) -Parent
          $env:PATH = $msbuildPath + ';' + $env:PATH
          nuget locals all -clear
          msbuild -v:m -restore -t:Build -p:Configuration=Debug MissionPlanner.sln

      - name: Cleanup
        shell: pwsh
        run: |
          cd bin\Debug\net461
          gci plugins | ForEach-Object { if (Test-Path $_.Name -PathType Leaf) { Write-Host "Remove" $_.FullName ; Remove-Item $_.FullName } else { Write-Host $_.Name } }
